engine-strict=true
# workspace-concurrency=0 will use amount of cores of the host to run tasks concurrently (see https://pnpm.io/cli/recursive#--workspace-concurrency)
workspace-concurrency=0
strict-peer-dependencies=true
